rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /funds/{fundId} {
      allow read: if true;
      allow write: if false;
    }

    match /waitlistRequests/{requestId} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    match /appStorage/{documentId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
